# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
.venv/
env/
venv/

# Logs, temp files
*.log
*.tmp
*.swp
package-log.txt

# System, IDE, or local config
.DS_Store
.idea/
.vscode/
state.json

# AWS packaging artifacts
packaged-lambda.yaml